<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--인터넷 권한-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!--위치 권한-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--갤러리 접근 권한-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:name=".ui.global.globalMethod">
        <meta-data android:name="com.kakao.sdk.AppKey" android:value="${KAKAO_LOGIN_API_KEY}" />
        <activity android:name="com.example.itda.ui.splash.SplashActivity"
            android:theme="@style/Theme.MyApplication"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--메인 액티비티-->
        <activity
            android:name="com.example.itda.MainActivity"
            android:theme="@style/Theme.MyApplication"
            android:screenOrientation="portrait">
        </activity>

        <!--가게 검색 화면 액티비티-->
        <activity android:name="com.example.itda.ui.home.HomeSearchActivity"
            android:theme="@style/Theme.MyApplication">
        </activity>

        <!--가게 상세 정보 액티비티-->
        <activity android:name="com.example.itda.ui.info.InfoActivity"
            android:theme="@style/Theme.MyApplication">
        </activity>

        <!--가게 상세 정보 내 메뉴 상세 정보 액티비티-->
        <activity android:name="com.example.itda.ui.info.InfoMenuActivity"
            android:theme="@style/Theme.MyApplication">
        </activity>

        <!--가게 상세 정보 내 지도 상세 정보 액티비티-->
        <activity android:name="com.example.itda.ui.info.InfoMapActivity"
            android:theme="@style/Theme.MyApplication">
        </activity>

        <!--가게 상세 정보 내 사진 상세 정보 액티비티-->
        <activity android:name="com.example.itda.ui.info.InfoPhotoActivity"
            android:theme="@style/Theme.MyApplication">
        </activity>

        <!--가게 상세 정보 내 전체 사진 리스트 액티비티-->
        <activity android:name="com.example.itda.ui.info.InfoPhotoTotalActivity"
            android:theme="@style/Theme.MyApplication">
        </activity>

        <!--가게 상세 정보 내 리뷰 리스트 액티비티-->
        <activity android:name="com.example.itda.ui.info.InfoReviewActivity"
            android:theme="@style/Theme.MyApplication"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <!--가게 상세 정보 내 리뷰 추가 액티비티-->
        <activity android:name="com.example.itda.ui.info.InfoReviewInsertActivity"
            android:theme="@style/Theme.MyApplication"
            android:windowSoftInputMode="adjustNothing">
        </activity>

        <!--내 정보 수정 액티비티-->
        <activity android:name="com.example.itda.ui.mypage.MyPageEditActivity"
            android:theme="@style/Theme.MyApplication">
        </activity>

        <!--내 정보 이름 수정 액티비티-->
        <activity android:name="com.example.itda.ui.mypage.MyPageEditNameActivity"
            android:theme="@style/Theme.MyApplication">
        </activity>

        <!--내 정보 번호 수정 액티비티-->
        <activity android:name="com.example.itda.ui.mypage.MyPageEditNumberActivity"
            android:theme="@style/Theme.MyApplication">
        </activity>

        <!--내 정보 생일 수정 액티비티-->
        <activity android:name="com.example.itda.ui.mypage.MyPageEditBirthdayActivity"
            android:theme="@style/Theme.MyApplication">
        </activity>

        <!--내 정보 비밀번호 수정 액티비티-->
        <activity android:name="com.example.itda.ui.mypage.MyPageEditPasswordActivity"
            android:theme="@style/Theme.MyApplication">
        </activity>

        <!--내 정보 비밀번호 찾기 액티비티-->
        <activity android:name="com.example.itda.ui.mypage.MyPageEditLostPasswordActivity"
            android:theme="@style/Theme.MyApplication">
        </activity>

        <!--내 정보 찜 목록 액티비티-->
        <activity android:name="com.example.itda.ui.mypage.MyPageBookmarkActivity"
            android:theme="@style/Theme.MyApplication">
        </activity>

        <!--내 정보 리뷰 목록 액티비티-->
        <activity android:name="com.example.itda.ui.mypage.MyPageReviewActivity"
            android:theme="@style/Theme.MyApplication">
        </activity>

        <!--내 정보 리뷰 목록 상세 액티비티-->
        <activity android:name="com.example.itda.ui.mypage.MyPageReviewDetailActivity"
            android:theme="@style/Theme.MyApplication">
        </activity>

        <!--내 정보 사진 목록 액티비티-->
        <activity android:name="com.example.itda.ui.mypage.MyPagePhotoActivity"
            android:theme="@style/Theme.MyApplication">
        </activity>

        <!--Kakao 로그인 화면으로 이동하기 위한 kakao.sdk에 존재하는 AuthCodeHandler를 추가-->
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="oauth"
                    android:scheme="${KAKAO_LOGIN_API_KEY}" />
            </intent-filter>
        </activity>

        <!--로그인 액티비티-->
        <!-- adjustResize : 소프트 키보드가 보이도록 공간을 확보하기 위해 activity window 을 resize -->
        <activity android:name="com.example.itda.ui.login.LoginActivity"
            android:theme="@style/Theme.MyApplication"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <!--로그인 비밀번호 찾기 액티비티-->
        <activity android:name="com.example.itda.ui.login.LoginLostPasswordActivity"
            android:theme="@style/Theme.MyApplication">
        </activity>

        <!--로그인 회원가입 액티비티-->
        <activity android:name="com.example.itda.ui.login.LoginMembershipActivity"
            android:theme="@style/Theme.MyApplication">
        </activity>

        <!--로그인 회원가입 추가 정보 입력 액티비티-->
        <activity android:name="com.example.itda.ui.login.LoginMembershipOptionActivity"
            android:theme="@style/Theme.MyApplication">
        </activity>

    </application>

</manifest>